<div class="container-fluid">
  OK
  <ul>
    <% @all_elements.each do |el| %>
      <li style="list-style: none;">
        <%= el.gsub('=20', '') %>
      </li>
    <% end %>
  </ul>
  <p>
    nada
  </p>
</div>